body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
	text-decoration: none;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}

#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
	overflow: hidden;
	padding: 20px 10px;
	padding-top: 10px;
	text-decoration: none;
	line-height: 25px;


 
}
.navbar-brand {
	padding-top: 25px;

}
.navbar-brand a{
	text-decoration: none;
}

.navbar-brand h1 {
	font-family: 'Lora', sans-serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	text-decoration: none;

}

#nav-list
{
	margin-top: 10px;
}
#nav-list a{
	color: #951C49;
	text-align: center;
	text-decoration: none;
}
#nav-list a:hover {
	background: #E7E7E7;
	text-decoration: none;
	display: inline;
	position: relative;


}
#nav-list a span{
	font-size: 1.8em;
}
#collapsable-nav
{
	float: right;
	padding-top: 10px;
	


}




ul#nav-list li {
	display:inline;
}


